* {
    margin: 0;
    padding: 0;
}



body {
    width: 100%;
    min-height: 100vh;
    background-color: #dedad7;
    font-family: sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #F0F0F0;
    font-weight: bold;
}

a:hover {
    color: #FFFFFF;
}

h3 > a {
    color: #242424;
}

h3 > a:hover {
    text-decoration: underline;
    color: #242424;
}

h2 > a {
    color: #242424;
}

h2 > a:hover {
    text-decoration: underline;
    color: #242424;
}

.profile-info > i:hover {
    font-size: 20px;
    cursor: pointer;
    text-decoration: overline;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
 }


/*LAYOUT*/

#wrapper {
    display: grid;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 210px);
}

.sidebar {
    position: relative;
    grid-area: 6/1/1/1;
    -webkit-box-shadow: 1px 0px 10px 0px #000000; 
    box-shadow: 1px 0px 10px 0px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #3399FF;
}

.header {
    background-color: white;
    grid-area: 1/6/1/2;
    -webkit-box-shadow: 0px 1px 10px 0px #000000; 
    box-shadow: 0px 1px 10px 0px #000000;
}

.main {
    grid-area: 2/6/6/2;
    background-color: #F0F0F0;
}

/*SIDEBAR*/

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 14rem;
    height: 30px;
    padding: 10px 5px;
    gap: 10px;
    margin-top: 20px;
}

.logo > h2 {
    font-size: 1.7rem;
    color: #F0F0F0;
    text-shadow: 0px 0px 20px rgba(28,110,164,0.95);
}

.logo > span {
    color: #F0F0F0;
    font-size: 2.9rem;
    text-shadow: 0px 0px 20px rgba(28,110,164,0.95);
}

.sidebar > ul {
    list-style-type: none;
    text-align: left;
    width: 10rem;
}

.sidebar > ul > li {
    padding-bottom: 25px;
    text-shadow: 0px 0px 20px rgba(28,110,164,0.95);
}

.sidebar > ul > li > i {
    padding-right: 20px;
    color: #F0F0F0;
}


.nav-links {
    position: absolute;
    top: 7rem;
}

.general-links {
    position: absolute;
    top: 27rem;
}

/*HEADER*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-sec, .bottom-sec {
    width: 100%;
    flex: 1;
}

.top-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-bar {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.search-bar > i {
    padding-right: 30px;
}

.search-bar > input {
    width: 30rem;
    border-radius: 20px;
    border: 1px solid;
    background-color: #DEDAD7;
    height: 25px;
    padding: 0px 9px;
}

.profile-info {
    display: grid;
    grid-template-columns:  repeat(2, 0.2fr) repeat(1, 0.5fr) min-content auto;
    flex: 1;
    text-align: center;
    align-items: center;
}

#image {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: yellow;
    margin: 5px 20px;
    border: 3px solid rgba(0,0,0,0.57);
}

.image {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-image: url('imgs/Gav_a_well-lit_photograph_with_some_pixelisation_of_a_smiling_b_adab42cc-18c6-4323-824d-8b5027e49c6b-1200x692.webp');
}

#image-2 {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: yellow;
    margin: 5px 20px;
    border: 3px solid rgba(0,0,0,0.57);
}

.image-2 {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-image: url('imgs/Gav_a_well-lit_photograph_with_some_pixelisation_of_a_smiling_b_adab42cc-18c6-4323-824d-8b5027e49c6b-1200x692.webp');
}


.bottom-sec {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.info {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    flex: 1;
}

#img2 {
    margin-left: 30px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.btn {
    width: 85px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #3399FF;
    color: #F0F0F0;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 5px 0px #000000; 
    box-shadow: 0px 0px 5px 0px #000000;
}

.btn:hover {
    background-color: #2671BD;
    cursor: pointer;
}

/*MAIN*/

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-1 {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-2 {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    flex: 1;
    width: 100%;
}

.heading > h3 {
    padding: 23px 35px;
    width: fit-content;
}


.cards {
 flex: 10;
 width: 100%;
 display: grid;
 grid-template-columns: repeat(2, 0.45fr);
 grid-template-rows: repeat(3, 0.4fr);
 row-gap: 20px;
 justify-content: center;
 column-gap: 20px;
}

.card {
    background-color: #FFF;
    border-radius: 10px;
    border-left: 7px solid #BD9D00;
    -webkit-box-shadow: -2px 3px 9px 0px #000000; 
    box-shadow: -2px 3px 9px 0px #000000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    -webkit-box-shadow: -2px 3px 9px 2px #000000; 
    box-shadow: -2px 3px 9px 2px #000000;
}

.heading-2 {
    flex: 1;
    width: 100%;
}

.heading-2 > h3 {
    padding: 23px 35px;
    width: fit-content;
}


.cards-2 {
   flex: 10;
   width: 100%;
   display: grid;
   grid-template-columns: 0.8fr;
   grid-template-rows: 2fr 0.3fr 2fr;
   justify-content: left;
}

.Announcement-card, .heading-3, .Trending-card {
    border-radius: 10px;
}

.Announcement-card {
    background-color: #FFF;
    -webkit-box-shadow: -2px 3px 9px 0px #000000; 
    box-shadow: -2px 3px 9px 0px #000000;
    cursor: pointer;
}

.Trending-card {
    background-color: #FFF;
    -webkit-box-shadow: -2px 3px 9px 0px #000000; 
    box-shadow: -2px 3px 9px 0px #000000;
    cursor: pointer;
}

.Announcement-card:hover {
    -webkit-box-shadow: -2px 3px 9px 2px #000000; 
    box-shadow: -2px 3px 9px 2px #000000;
}

.Trending-card:hover {
    -webkit-box-shadow: -2px 3px 9px 2px #000000; 
    box-shadow: -2px 3px 9px 2px #000000;
}

.heading-3 > h3 {
    padding: 15px 35px;
    padding-top: 40px;
    width: fit-content;
}


/*CARD CONTENTS*/

.card-content {
    padding: 15px 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-content > .icons {
    align-self: flex-end;
}

.card-content > .icons > i {
    padding: 15px 10px;
}

.card-content > .icons > i:hover {
    font-size: 15px;
    cursor: pointer;
    text-decoration: overline;
}


.para {
    padding: 15px 0px;
    color: #8A8A8A;
}

.announcement-content {
    height: fit-content;
    width: fit-content;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.announcement-para {
    color: #8A8A8A;
    font-size: 0.9rem;
}

.announcement-card-heading > h3 {
    font-size: 1rem;

}

.announcement-card-content {
    padding: 15px 0px;
}

.announcement-card-content:nth-child(2) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.Trending-card {
    height: fit-content;
    padding: 10px;
}

.trending-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0px;
}

.trending-details > h5 > #username {
    font-size: 1rem;
    color: #000000;
}

#username:hover {
    text-decoration: underline;
}

.trending-details {
    flex: 1;
    padding-left: 10px;
}

.trending-details > h2 {
    font-size: 0.9rem;
    color: #8A8A8A;
    font-weight: 100;
    padding-left: 5px;
}

#image-t {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px 5px;
    border: 3px solid rgba(0,0,0,0.57);
}

.image-t {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-image: url('imgs/Gav_a_well-lit_photograph_with_some_pixelisation_of_a_smiling_b_adab42cc-18c6-4323-824d-8b5027e49c6b-1200x692.webp');
}

#image-t-2 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px 5px;
    border: 3px solid rgba(0,0,0,0.57);
}

.image-t-2 {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-image: url('imgs/frog.jpeg');
}
#image-t-3 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px 5px;
    border: 3px solid rgba(0,0,0,0.57);
}

.image-t-3 {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-image: url('imgs/willsmithprofilephoto_cc00ac309a.png');
}
#image-t-4 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px 5px;
    border: 3px solid rgba(0,0,0,0.57);
}

.image-t-4 {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-image: url('imgs/ai-generated-8327716_1280.webp');
}